$purple: #1F1D72;
$teal: #05A8D4;
$red: #E22E38;

$gray_900: #1A202C;
$gray_800: #2D3748;
$gray_700: #4A5568;
$gray_600: #718096;
$gray_500: #A0AEC0;
$gray_400: #CBD5E0;
$gray_300: #E2E8F0;
$gray_200: #EDF2F7;
$gray_100: #F7FAFC;

$base-font-color: $gray_800;
