.columns {
  display: flex;
  flex-direction: column;

  @include breakpoints(from-md) {
    flex-direction: row;
    justify-content: space-between;
  }

  .col_25 {
    flex-basis: calc(25% - .5em);
  }

  .col_50 {
    flex-basis: calc(50% - .5em);
  }

  .col_75 {
    flex-basis: calc(75% - .5em);
  }

  .col_33 {
    flex-basis: calc(33.34% - .5em)
  }

  .col_66 {
    flex-basis: calc(66.67% - .5em)
  }

  div[class^='col_'] {
    margin-bottom: 1em;

    @include breakpoints(from-md) {
      margin-bottom: .25em;
    }
  }
}
