footer {
  color: #888;
  margin-top: 2em;
  padding-top: .25em;
  border-top: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  padding: .75em 0 0 0;

  @include breakpoints(from-sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  p, a {
    margin: 0 0 .25em 0;
    line-height: 1em;
    font-size: 1em;
  }

}
